/* NavBar */

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 0px 1px 6px rgb(225, 225, 225);
    font-family: 'Poppins', sans-serif;
    background-color: white;
    z-index: 1;
}

.sur-name-p {
    padding-left: 35px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo {
    padding-top: 10px;
    padding-left: 30px;
    display: block;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container:last-child {
    margin-right: 30px;
}

.btn {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-inline: 15px;
    font-size: 15px;
    position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 88%;
    height: 2px;
    background-color: rgb(114, 39, 200);
    transition: transform 0.3s ease;
}

.btn:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* Home */

.Home {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-bottom: 150px;
    background-color: rgb(245, 245, 245);
}

.content {
    /* border: 1px solid black; */
    padding-top: 225px;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.animation-container {
    /* border: 1px solid black; */
    padding-top: 180px;
    padding-left: 45px;
    width: 30%;
}

.link-btn {
    border: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    padding: 0px;
    padding-right: 12px;
}

.first-name, .last-name {
    font-weight: 700;
    font-size: 50px;
}

.role {
    font-weight:400;
    font-size: 20px; 
}

.intro, .links-container, .role {
    padding-top: 10px;
}

.content span, p{
    padding-left: 6px;
}

/* About */

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    background-color: rgb(245, 245, 245);
}

.title {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: 600;
}

.follow-up {
    color: rgb(55, 55, 55);
}

.content-container {
    display: flex;
    justify-content: center;
    /* column-gap: 30px; */
    margin-top: 55px;
}

.about-animation {
    width: 30%;
    margin-right: 90px;
    /* border: 1px solid black; */
}

.actual-content {
    /* margin-left: 60px; */
    width: 35%;
    /* border: 1px solid black; */
}

.display-cards {
    display: flex;
    gap: 20px;
    padding-left: 6px;
}

.card {
    background-color: white;
    padding: 10px;
    height: 120px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 2px rgb(114, 39, 200);
}

.card-title {
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 8px;
}

.card-follow-up {
    font-size: small;
    color: rgb(55, 55, 55);
    padding-top: 8px;
    padding-bottom: 8px;  
}

.desc {
    padding-top: 15px;
    padding-bottom: 15px;
}

.download-resume {
    background-color: rgb(114, 39, 200);
    color: white;
    font-size: medium    ;
    padding: 17px;
    padding-left: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
}

.download-resume:hover {
    background-color: rgb(122, 42, 214);
}

.download-resume:active {
    transform: scale(0.95);
}

/* Skills */

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    background-color: rgb(245, 245, 245);
    /* border-bottom: 1px solid black; */
}

.skills-container {
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.outter-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    height: 200px;
}

.inner-box {
    border: 1px solid black;
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actual-skills {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border: 1px solid black;
    height: 50px;
    width: 50%;
}

.c {
    display: inline-block;
    height: 25px;
    width: 25px;
}